body {
  background-color: #ffffff; /* Fundo branco */
  margin: 0; /* Remove margens padrão */
}

nav {
  border: 3px solid #0056b3; /* Borda azul escura */
  background-color: #007BFF; /* Azul mais claro */
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px; /* Aumenta o espaçamento interno do nav */
  height: auto; /* Permite que a altura se ajuste ao conteúdo */
}

.nav-content {
  position: relative;
  display: flex;
  margin: 0;
  justify-content: flex-end;
  cursor: pointer;
}

li {
  color: #ffffff;
  list-style-type: none;
  margin: 0 15px;
}

li:hover {
  color: #e7f1ff; /* Azul claro ao passar o mouse */
}

.nav2 {
  color: white;
  font-size: medium; /* Tamanho da fonte em um nível razoável */
  border: 3px solid #0056b3; /* Borda azul escura */
  background-color: #007BFF; /* Azul claro */
  display: flex; /* Para alinhar a logo e o texto */
  align-items: center; /* Alinha verticalmente os itens */
  padding: 10px; /* Ajusta o espaçamento interno da nav2 */
}

.nav2 img {
  height: 30px; /* Ajuste a altura da logo para ser menor e responsiva */
  margin-right: 10px; /* Espaçamento à direita da logo */
}

.meio {
  display: block;
  text-align: center;
  margin: 0; /* Remove margens padrão */
  padding: 90px;
  width: 90%;
  height: 200px;
 

  
  background-image : url("imagem/imagem_homem_celular.jpg");

 
  background-size: cover; /* Ajusta para cobrir todo o espaço */
  background-repeat: no-repeat; /* Evita a repetição da imagem */
}

.meio .textmeio {
  font-size: calc(19px + (25 - 16) * ((100vw - 320px) / (1600 - 320))); /* Tamanho responsivo da fonte */
  color: rgb(0, 0, 84); /* Cor do texto */
}

/* Estilos específicos para dispositivos móveis */

.paineldobt {
    text-align: center;
    padding-top: 20px; /* Espaço superior para o botão em dispositivos móveis */
}

.botao {
    cursor: pointer;
    background-color: white; /* Fundo branco */
    color: #333; /* Cor do texto */
    border: 2px solid #007BFF; /* Borda azul */
    border-radius: 5px; /* Bordas arredondadas */
    padding:5px 10px; /* Espaçamento interno */

    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1600 - 320))); /* Tamanho responsivo da fonte do botão */
    width: calc(100% - 20px); /* Largura total menos margens laterais para dispositivos móveis */
    max-width: 200px; /* Limita a largura máxima do botão em telas grandes */

    transition: background-color .3s, color .3s; /* Transição suave para hover */
}

.botao:hover {
    background-color:#0056b3; /* Cor de fundo ao passar o mouse */
    color:white; /* Cor do texto ao passar o mouse */
}

.mensagem {
    background-image:url(""); 
    background-size:cover; 
    background-repeat:no-repeat;
    padding:180px;
    display:flex;
    text-align:right;

    color:rgb(218,218,218);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
